[Unit]
Description=Pi WOL WebSocket Client
After=network.target

[Service]
ExecStart=/home/pi/pi-python-client/venv/bin/python /home/pi/pi-python-client/client.py
WorkingDirectory=/home/pi/pi-python-client
Restart=always
User=joe
Environment=NODE_ENV=production
Environment=RELAY_SERVER=https://your-relay.onrender.com

[Install]
WantedBy=multi-user.target